*{
    
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcf9f9e1;
    color: white;
    margin: 0;
}

header{
    display: flex;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(0%,-50%);
    color: #333;

}

p{
    color: black;
}

h1{
    font-size: 2rem;
}

.key{
    border:1px solid #999;
    background-color: rgb(66, 16, 248);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    color: rgb(252, 252, 252);
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    padding: 20px 40px;
    flex-direction: column;
    margin: 10px;
    min-width: 150px;
    position: relative;
}

.key small{
    position: absolute;
    top: -24px;
    left: 0;
    text-align: center;
    width: 100%;
    font-size:18px;
    color: black;
}